@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  visibility: hidden;
}

.ql-snow {
  border: 0 !important;
}

.ql-toolbar {
  border-bottom: 1px solid black !important;
}

.article-reset * {
  margin: 0 !important;
  padding: 0 !important;
  color: black !important;
  background-color: white !important;
}

.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding-right: 2.5rem;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
}