.react-calendar {
    height: 469px;
    width: 100%;
    max-width: 545px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    line-height: 1.125em;
    box-shadow: 0px 0px 24px 9px rgba(118, 54, 0, 0.12);
    color: black;
    overflow: hidden;
    position: relative;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin: 1em 0 0.5em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation button:disabled {
    visibility: hidden;
    background-color: #B5B5B5;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: transparent;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
}

.react-calendar__month-view__days__day {
    padding: 10px 18px;
    background-clip: content-box !important;
    border-radius: 50% !important;
    margin: 0 !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
}

.react-calendar__navigation__label {
    pointer-events: none;
}

.react-calendar__navigation__arrow {
    background-clip: content-box !important;
    border-radius: 50px;
    font-size: 3em;
    font-weight: 400;
}

.react-calendar__navigation__arrow:hover {
    background-color: rgb(107 114 128);
}

/* If you do not wish to show weekends */

/* 
  .react-calendar__month-view__days > .react-calendar__tile,
  .react-calendar__month-view__weekdays__weekday {
    flex-basis: 20% !important;
    max-width: 20% !important;
  } 
  
  .react-calendar__month-view__weekdays__weekday:nth-child(6),
  .react-calendar__month-view__weekdays__weekday:nth-child(7) {
    display: none !important;
  } 
  
  .react-calendar__month-view__days__day--weekend {
    display: none !important;
  } 
  */

.react-calendar__month-view__weekdays__weekday {
    padding: 0.55em;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: light;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #b3b3b3;
}

.react-calendar__tile {
    aspect-ratio: 1/0.8;
    max-width: 100%;
    background: none;
    text-align: center;
    border-radius: 50% !important;
}

.react-calendar__tile:disabled {
    color: rgb(180, 180, 180);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #FFAC66;
}

.react-calendar__tile--now {
    border-radius: 50%;
    background: rgb(238 242 255);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background-color: #FFAC66;
}

.react-calendar__tile--hasActive {
    background: #FFAC66;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #FFAC66;
}

@media screen and (max-width: 500px) {
    .react-calendar {
        height: 410px;
    }
}